.sortableItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dragHandle {
  cursor: grab;
}

.popoverContent {
  width: 200px;
}

.popoverHeader {
  margin-bottom: 16px;
}

.popoverFooter {
  margin-top: 16px;
  border-top: 1px solid #f0f0f0;
  padding-top: 8px;
}

.popoverFooterButton {
  display: flex;
  align-items: center;
} 